---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${NAMESPACE}
resources:
  - https://github.com/kubeflow/model-registry/manifests/kustomize/overlays/db?ref=v0.2.7-alpha
  # - https://github.com/kubeflow/model-registry/manifests/kustomize/options/istio?ref=v0.2.7-alpha
